<html>
	<head>
		<title>Homework 3</title>
	</head>
	<body>
		<h1>{{.Name}}</h1>
		<h2>{{.Major}}</h2>
		{{if .Graduate}}
		<h3>Graduate Student</h3>
		{{else}}
		<h3>Undergraduate</h3>
		{{end}}
	</body>
</html>
